* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start of nav-bar styls */
.nav-container{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    font-family: Roboto;
    padding-top: 1rem;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
}

/* left logo-side container */
.header-logo-container {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

/* right links container */
.links-container{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.links-container a{
    text-decoration: none;
}

.header-links, .hero-para{
    font-size: 18px;
    color: #e5e7eb93;
}
/* end of nav-bar styles */

/* start of top-content style */
.first-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 40px;
}

.first-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.first-content .hero{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.img-container, .first-content{
    width: 500px;
    height: 250px;
}

.sign-up-button{
    background-color: #3382f6;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
}

/* end of top-content style */

/* start of middle content */
/* first middle content */
.content-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    gap: 2rem;
    width: 100%;
}

.second-content{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.illustration-container{
    display: flex;
    gap: 50px;
}

.illu-box{
    border: 3px solid #3382f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.illu-para{
    width: 150px;
    text-align: center;
}
/* first middle content */

/* 2nd middle content */
.third-content-container{
    display: flex;
    flex-direction: column;
    padding: 50px 300px;
    background-color: #e5e7eb;
    width: 100%;
}

.third-content{
    align-self: center;
}

.third-content blockquote{
    font-size: 36px;
    font-family: "light italic";
    color: #1f2937;
}

.third-content-container p{
    align-self: flex-end;
    font-weight: 900;
}
/* 2nd middle content */

/* 3rd middle content */
.fourth-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.fourth-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3382f6;
    padding: 50px;
    color: white;
    border-radius: 10px;
    width: 1000px;
}

.cta-text p{
    color: #e5e7eb;
    font-size: 18px;
}

.cta-button {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #3382f6;
    color: white;
    width: 100px;
    height: 30px;
}
/* 3rd middle content */

/* foother styles */
.footer-end{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 50px 0;
}

